<% unless user_signed_in? %>
<div class="container_carrousel">
  <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
          <div class="item">
            <%= image_tag "help.jpg", :style=>"width:1550px" %>
            <div class="container">
              <div class="carousel-caption">
                <h1></h1>
                <p class="lead"></p>
                <%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
              </div>
            </div>
          </div>
          <div class="item active">
            <%= image_tag "location.jpg" %>
            <div class="container">
              <div class="carousel-caption">
                <h1></h1>
                <p class="lead"></p>
                <a class="btn btn-large btn-primary" href="#">Learn more</a>
              </div>
            </div>
          </div>
          <div class="item">
            <%= image_tag "therapist.jpg" %>
            <div class="container">
              <div class="carousel-caption">
                <h1></h1>
                <p class="lead"></p>
                <a class="btn btn-large btn-primary" href="#">Learn more</a>
              </div>
            </div>
          </div>
           <div class="item">
            <%= image_tag "time.jpg" %>
            <div class="container">
              <div class="carousel-caption">
                <h1></h1>
                <p class="lead"></p>
                <a class="btn btn-large btn-primary" href="#">Learn more</a>
              </div>
            </div>
          </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
  </div>
</div>
<!-- start: Row -->
      <div class="row">
        
        <!-- start: Icon Boxes -->
        <div class="icons-box-vert-container">

          <!-- start: Icon Box Start -->
          <div class="span4">
            <div class="icons-box-vert">
              <i class="ico-heart ico-white circle-color-full"></i>
              <div class="icons-box-vert-info">
                <h2>Need Help?</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
              </div>
              <div class="clear"></div>
            </div>
          </div>
          <!-- end: Icon Box-->

          <!-- start: Icon Box Start -->
          <div class="span4">
            <div class="icons-box-vert">
              <i class="ico-ok ico-white circle-color-full"></i>
              <div class="icons-box-vert-info">
                <h2>Best Option</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
              </div>
              <div class="clear"></div>
            </div>
          </div>
          <!-- end: Icon Box -->

          <!-- start: Icon Box Start -->
          <div class="span4">
            <div class="icons-box-vert">
              <i class="ico-search ico-white circle-color-full"></i>
              <div class="icons-box-vert-info">
                <h2>Locate a Therapist</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
              </div>
              <div class="clear"></div>
            </div>
          </div>
          <!-- end: Icon Box -->

        </div>
        <!-- end: Icon Boxes -->
        <div class="clear"></div>
      </div>
      <!-- end: Row -->
<% end %>
